
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <nav id="admin-dashboard">
        <div>
            <a href="/admin/dashboard">Dashboard</a>
        </div>
        <ul>
            <li>
                <a href="/">Home</a>
            
            </li>
               <li>
                <a href="/admin/employees">Employees</a>
            </li>
            <li>
                <a href="/admin/manage">Manage</a>
            </li>
         
            
            <li>
               <form action="/admin/logout" method="POST">
                 <button type= "submit" class="logout-link">Log out</button>
                 </form>
            </li>
        </ul>
    </nav>
    
   

{{#if user}}

   <table>
     <thead>
        <tr>
          <th>Employee ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>email</th>
          <th>Hourly Rate</th>
          <th>Hours Worked</th>
          <th>Total Pay</th>
     
        </tr>
     </thead>
    <tbody>
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.hourlyRate}}</td>
            <td>{{user.hoursWorked}}</td>
            <td>$ {{user.accumulatedPay}}</td>
        </tr>
    </tbody>
  </table>
 

  <p class=""><a href="/admin/manage">Back</a></p>
  


 {{else}}
 <h2>No result</h2>
 {{/if}}
 

</body>
</html>